body{
    height: 100vh;
    margin: 0;
    border: 0;
    background-image:url(stacked-waves-haikei.svg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000000;
    font-family: 'poppins', sans-serif;

}
#realAnsBox{
    height: fit-content;
    font-size: 3rem;
}
#result-box{
    background-color: transparent;
    border: 1px solid #0c8468;
    height: 35px;
    width: 300px;
    margin: 0;
   display: flex;
   justify-content: center;
   align-items: center;
    font-size: medium;
}
input{
    background-color: transparent ;
    border: 1px solid  #0c8468;
    height: 30px;
    width: 200px;
    font-size: large;
    text-align: center;
}
button{
    width: 80px;
    height: 30px;
    background-color: #52c7a9;
    border: 1px solid  #0c8468;
    border-radius: 20px;
    transition: 100ms;
    font-size: medium;
}
button:active{
    scale: .9;
}
@media (max-width:764px) {
    #realAnsBox{
        font-size: 3.5rem;
    }
    #result-box{
        height: 45px;
        width: 330px;
    }
    input{
        height: 35px;
        width: 250px;
    }
    button{
        height: 35px;
        width: 90px;
    }
}